.header
    object.logo(data='../assets/images/ons-logo.svg' type="image/svg+xml")

.main-text
    h1 Useful things to know

    p In your first few weeks we’ll cover a lot of the corporate policies and procedures you’ll need to know about - things like pay, annual leave, sick leave and security. Until then, this guide gives you the essential information you might need in your first few days.

    .list: ul
        li Flexible working

            div We try our best to accomodate any style of working that works for you.

            div We have flexible working hours - you can work from the office any time between 7am and 7pm. We also work remotely a lot - if you want to work from home, you can (although we’d ask you to be in the office as much as possible for your first few weeks).

            div You need to work an average of 37 hours a week (excluding lunch) - but we’ll cover that in more detail soon.
        
        li If you're unwell

            div If you’re feeling unwell we won’t expect you to be in work. If you’re feeling well enough to work from home you can, but if not then we’d recommend getting some rest instead.

            div Let us know on Slack if you won’t be in, or if you’ll be working from home.

            div We have policies around sick leave which we’ll make you aware of when you start, but that’s not something you need to think about while you’re unwell.

        li Internet

            div We have WiFi throughout the building. You can use our guest WiFi or GovWiFi (https://www.gov.uk/government/collections/connect-to-govwifi), and we’ll give you more details (passwords etc) on your first day.

            div You can use this from your own personal devices too.

        li Security

            div This is mostly just being sensible and taking precautions:

            ul
            
                li Don't wear your security pass unless you're in an ONS office

                li Lock your laptops whenever you leave your desk!

        li Finding your way around

            div Our Newport office is a big place, and it can be daunting until you get used to it.

            div We’ll show you how to find the important bits - your desk, the toilets, the shop and canteen. But it can be useful to know how to find your way around - it won’t be long until you get a meeting invite with a cryptic room number you’ve never heard of.

            div Our room numbering system is a bit unusual, but finding your way around is much easier once you understand it. Here’s some examples to explain how it works:

            div A.001 - The A refers to the ‘Annex’, which is the building between the car parks and reception. 001 is the room number, which you can find by following the signs inside the annex.

            div 1.101 - The first 1 refers to ‘Block 1’. The office is split into four blocks - D, R, 1 and 2. The second 1 refers to the floor number, and the last two digits are the room number.

            div D.258 - The D refers to the ‘Data Block’. The 2 is the floor number, and the last two digits are the room number.

            div R.101 - The R refers to the ‘Recreation Block’ - this is where you’ll find the coffee shop, canteen, shop, gym and a few other things. 101 is the room number, and ‘R.1xx’ typically refers to our larger conference rooms.

            div The room numbers have lots of gaps - for example, there’s a room 101, 123 and 126 - but none of the others! They always flow in one direction around the building, and signs above most doorways tell you what room number ranges you’re approaching. In most cases, following the signs then numbers on the doors will get you to where you need to be.

            div Don’t be afraid to ask if you get lost - we’ve all done it! But generally if you keep walking in the same direction you’ll end up back where you started.

            div There’s also maps near most communal areas and corridors - they’re not the easiest things to read, but at least tell you where you currently are.

style
    include:scss ../assets/default.scss
    include:scss useful-things-to-know.scss