.list li div {
    margin-bottom: 1em;
}

.roomnumber tr {
    // margin: 0;
    // padding: 0;
}
.roomnumber th {
    border: 3px solid black;
    height: 2em;
    width: 2em;
    font-size: 1.5em;
}
.roomnumber td {
    font-size: 1.2em;
}